.app {
  padding: 16px;
}

.controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.controls label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* wrap map + legend side by side */
.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  border: none;
}

.save-load {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.save-load form input {
  width: 120px;
}
.saved-maps ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.saved-maps li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}